.contact-intro {
  background-image: url("https://ik.imagekit.io/testcloud/SultanSeeds/photo/about-page__intro.png?updatedAt=1725101210202");
  height: 16.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-bottom: 4.5rem;
}

.contact-intro__title {
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
}

/* contact details */
.contact-details__title {
  color: #101828;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.75rem;
  letter-spacing: -0.045rem;
  margin-bottom: 2.56rem;
}

.contact-details__contact {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.contact-details__contact-item {
  display: flex;
  align-items: center;
  gap: 1.19rem;
}

.contact-details__contact-icon {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: #2f4135;
}

.details__content-title {
  color: #272a2f;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.contact-details__contact a {
  font-weight: 500;
  color: #272a2f;
  font-size: 1rem;
  line-height: 1.5rem;
}

.contact-details__contact-content {
  width: 100%;
  max-width: 28rem;
}

.contact-details__contact-content {
  display: flex;
}

.contact-phone {
  display: inline-block;
}

/* map */
.mobile-iframe {
  display: none;
}

/* contact-us */
.contact-us {
  padding: 5rem 0 5.56rem 0;
}

.contact-us__container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2rem;
}

.contact-us__content {
  width: 100%;
}

.contact-us__form-title {
  color: #101828;
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.75rem;
  letter-spacing: -0.045rem;
  width: 100%;
  max-width: 29rem;
  margin-bottom: 2rem;
}

.contact-us__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-us__form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-us__form-control label,
.order__label {
  color: #272a2f;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.contact-us__form-control input,
.select-menu__button {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f1f2f4;
  background: #fff;
  outline: none;
}

.select-menu__button {
  height: 2.62rem;
  margin-top: 0.5rem;
}

.select-menu__button-text,
.order__label,
.contact-us__form-control input::placeholder {
  color: #6b7278;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.contact-us__button {
  width: 8.75rem;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background: #9a430e;
  outline: none;
  border: none;
  /* text */
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 500;
}

.contact-us__button:hover {
  background-color: #bd5c21;
}

/* media -> 1200*/
@media screen and (max-width: 1200px) {
  .contact-details__contact {
    margin-bottom: 2.5rem;
  }

  /* map */
  .map__container iframe {
    height: 35rem;
  }

  /* contact us */
  .contact-us {
    padding-top: 3.75rem;
  }

  /* .contact-us__button {
    margin-top: 1rem;
  }

  .select-menu {
    top: 1rem;
  } */

  .contact-us__photo img {
    height: 36rem;
  }
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .contact-us__photo img {
    display: none;
  }
}

/* 480 */
@media screen and (max-width: 480px) {
  .contact-intro {
    height: 5.25rem;
    margin-bottom: 2rem;
  }

  .contact-intro__title {
    font-size: 1.5rem;
  }

  .contact-details__title {
    font-size: 1.5rem;
  }

  .contact-details__contact {
    margin-bottom: 2rem;
  }

  /* map */
  .mobile-iframe {
    display: inline-block;
    height: 34.75rem;
  }

  .map__container iframe {
    display: none;
  }

  /* contact us */
  .contact-us {
    padding-top: 2rem;
    padding-bottom: 1.94rem;
  }

  .contact-us__form-title {
    font-size: 1.5rem;
    letter-spacing: -0.03rem;
  }
}
