/* faq intro */
.faq-intro {
  background-image: url("https://ik.imagekit.io/testcloud/SultanSeeds/photo/about-page__intro.png?updatedAt=1725101210202");
  height: 16.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.faq-intro__title {
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
}

.faq-accordion__title {
  margin: 4.5rem 0;
  text-align: center;
  color: #272a2f;
  font-size: 2.25rem;
  font-weight: 700;
}

.faq-accordion__container {
  margin-bottom: 11.5rem;
}

.accordion {
  justify-content: flex-start;
  align-items: stretch;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 1rem;
  border: 1px solid #eaecf0;
  background: #f9fafb;
}

.accordion:not(:last-child) {
  margin-bottom: 1.5rem;
}

.accordion .top {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.5rem;
  display: flex;
  position: relative;
}

.accordion .top .text {
  font-size: 1.25rem;
  font-weight: 700;
  white-space: wrap;
}

.accordion .top img {
  width: 2rem;
  align-self: flex-start;
  margin-bottom: 0.15rem;
  margin-left: 1.5rem;
}

img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.plus {
  display: inline-block;
  min-width: 24px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.minus {
  display: none;
  min-width: 24px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.accordion .top input {
  position: absolute;
  inset: 0;
  cursor: pointer;
  appearance: none;
}

.accordion .bottom {
  padding-inline: 2rem;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.accordion .bottom .text {
  margin-left: 0;
  margin: 0;
  padding-bottom: 2rem;
}

.accordion:has(input:checked) {
  grid-template-rows: 0.1fr 1fr;
}

.accordion:has(input:checked) .top img {
  transform: rotateZ(45deg);
}

.accordion:has(input:checked) .top .text {
  color: #9a430e;
}

.accordion:has(input:checked) .plus {
  display: none;
}
.accordion:has(input:checked) .minus {
  display: inline-block;
}

/* faq */
.faq {
  background-image: url(https://ik.imagekit.io/testcloud/SultanSeeds/photo/products3.webp?updatedAt=1725167494486);
  background-size: cover;
  height: 32rem;
  display: flex;
  justify-content: center;
}

.faq__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq__title {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 700;
}

.faq__description {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 1.5rem 0;
}

.faq__button {
  border-radius: 0.75rem;
  background: #9a430e;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  /* text */
  color: #fff;
  font-size: 0.9375rem;
  font-weight: 500;
}

/* media  */
/* 1200 */
@media screen and (max-width: 1200px) {
  /* faq */
  .faq {
    height: 21rem;
  }

  .faq-accordion__title {
    margin-bottom: 1.5rem;
  }

  .accordion .top .text {
    font-size: 1rem;
    font-weight: 600;
  }

  .faq-accordion__container {
    margin-bottom: 3.75rem;
  }
}

/* 480 */
@media screen and (max-width: 480px) {
  .accordion .top .text {
    font-size: 0.875rem;
    font-weight: 600;
  }

  .faq__title {
    font-size: 1.5rem;
    text-align: center;
  }

  .faq {
    height: 21rem;
  }
}
