/* Poppins and Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* custom style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
}

body.no-scroll {
  overflow: hidden !important;
}

.status-liner {
  background: var(--Dark-Green, #2f4135);
  position: fixed;
  width: 100%;
  height: 0.5rem;
  top: 0; /* Yuqoridan masofa */
  left: 0; /* Chapdan masofa */
  z-index: 1000; /* Boshqa elementlardan yuqorida bo'lishi uchun */
  scale: 0 1;
  display: none;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

/* loader */

.main-page-loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: none;
}

.main-page-loader svg {
  width: 128px;
  height: 128px;
  animation: loader 3s ease infinite;
}

.main-page-loader.show {
  display: flex;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* loader */

.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 80.625rem;
  margin: 0 auto;
}

.button {
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background: #9a430e;
  /* text */
  color: #fff;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #bd5c21;
}

/* root */
:root {
  --Dark-Green: #2f4135;
  --Light-Green: #4caf50;
  --Light-Grey: #f2f2f2;
  --Dark-Grey: #333333;
  --black-white: #fff;
  --Black: #272a2f;
  --gray: #e0e3e6;
  --gray-2: #1c232c;
}
/* root */

/* header */

/* header__contact-info */

.header__contact-info {
  height: 3.75rem;
  background: var(--Dark-Green, #2f4135);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__contact-info .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact-social,
.header__contact-details,
.header__contact-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.header__phone,
.header__email,
.header__contact-social p {
  color: var(--black-white, #fff);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__separator {
  width: 3.5625rem;
  height: 0.125rem;
  background: var(--black-white, #fff);
}

.header__email a,
.header__phone a {
  color: var(--black-white, #fff);
  font-weight: 600;
}
/* header__contact-info */

/* header__bottom */

.header__bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.header__bottom.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffffcf;
  z-index: 100;
  backdrop-filter: blur(1rem);
}

.header__nav .header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__nav-link {
  color: var(--Black, #272a2f);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
}

.header__nav-link:hover {
  color: #9a430e;
}

/* language switcher */
.header__language-switcher {
  border-radius: 3.125rem;
  border: 1px solid #e0e3e6;
  background: var(--black-whit, #fff);
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.6875rem;
  cursor: pointer;
  position: relative;
  width: 8.5rem;
}

.header__language-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--gray-2 #1c232c);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.header__language-box {
  display: flex;
  align-items: center;
  gap: 0.31rem;
  cursor: pointer;
}

.header__language-flag {
  margin-right: 0.2rem;
}

.header__language-options {
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  border-radius: 3.125rem;
  border: 1px solid #e0e3e6;
  background: var(--black-whit, #fff);
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 10;
}

.header__language-option::after {
  position: absolute;
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  background-color: var(--black-whit, #fff);
  border-top: 1px solid #e0e3e6;
  border-left: 1px solid #e0e3e6;
  top: -0.15rem;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
}

.header__language-option {
  background-color: transparent;
  border: none;
  width: 100%;
  color: var(--gray-2 #1c232c);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.header__language-switcher.active .header__arrow-icon {
  transform: rotate(180deg);
}

.header__arrow-icon {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

.header__language-switcher.active .header__language-options {
  display: block;
}

.header__language-option.selected {
  background-color: #f0f0f0;
}

/* header menu icon */
.header__mobile-icon {
  display: none;
}

/* intro section */
.intro {
  width: 100%;
  height: 52.1875rem;
  background: url("https://ik.imagekit.io/testcloud/SultanSeeds/photo/Video%20header.webp?updatedAt=1725041170148");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top bottom center;
  padding: 10rem 0;
}
/* swiper intro */

.swiper-container {
  padding-bottom: 30px;
  box-sizing: content-box;
  width: 100%;
  max-width: 80rem;
  height: 28.8rem;
  overflow: hidden;
  position: relative;
}

.swiper {
  height: 22rem;
}

.swiper-fraction {
  color: white;
  position: absolute;
  left: 0.62rem;
  bottom: 4.5rem;
  z-index: 10;
  border-radius: 10px;
  font-size: 0.875rem;
  font-weight: bold;
}

.swiper-slide {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 2rem;
  padding-left: 7rem;
  height: 28.8rem;
}

.swiper-pagination {
  position: absolute;
  top: 6.5rem !important;
  left: 0.4rem !important;
  transform: translateX(-50%);
  gap: 0.75rem;
  padding: 0.62rem;
}

.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 1;
  transition: background-color 0.3s, width 0.3s, height 0.3s, border 0.3s;
}

.swiper-pagination-bullet {
  margin-top: 1.56rem !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  border-radius: 50%;
  transition: background-color 0.3s, width 0.3s, height 0.3s, border 0.3s;
  position: relative;
}

.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.25rem;
  height: 1.25rem;
  background-color: transparent;
  border-radius: 50%;
  transition: transform 0.3s;
  border: 1px solid #fff;
}

.swiper-fraction {
  height: 11.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.swiper-fraction .current,
.swiper-fraction .total {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  width: 25px;
}

/* Scrollbar Container */
.swiper-timer {
  position: absolute;
  background-color: Gray;
  border-radius: 10px;
  height: 2px;
  width: 0.125rem !important;
  height: 7.78rem !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.swiper-progress-bar {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;
  height: 2px;
  width: 7.78rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.swiper-progress-bar .slide_progress-bar {
  position: absolute;
  height: 2px;
  background: gray;
  width: auto;
  clear: both;
  opacity: 0;
  left: 0;
  right: 0;
}

.swiper-progress-bar .slide_progress-bar:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #ea9901;
  height: 100%;
  width: 0;
  content: "";
  transition: 0.1s width linear;
}

.swiper-progress-bar.active .slide_progress-bar {
  opacity: 1;
}

.swiper-progress-bar.animate .slide_progress-bar:after {
  transition: width linear;
  transition-delay: unset;
  width: 100%;
  transition-duration: 5s;
}

/* swiper timer */

.swiper-title {
  width: 100%;
  max-width: 50rem;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}

.swiper-description {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2.1875rem; /* 175% */
}

.swiper-button {
  display: flex;
  min-width: 8.75rem;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: none;
  outline: none;
  border-radius: 0.75rem;
  background: #9a430e;
  /* text */
  color: #fff;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
}

.swiper-button:hover {
  background-color: #bd5c21;
}
/* swiper */

/* about */
.about {
  background: url(../photo/sunflower\ texture.png);
  position: relative;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 8.8rem 0 12.5rem 0;
}

.about__photo {
  position: relative;
  top: -19px;
}

.about__content {
  max-width: 39.62rem;
}

.about__title {
  color: var(--Black, #272a2f);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.about__description,
.about__export-info-title {
  color: var(--Black, #272a2f);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.about__description {
  margin: 2rem 0;
  width: 100%;
  max-width: 39.6rem;
}

.about__export-info-item:not(:last-child) {
  margin-bottom: 2rem;
}

.about__export-info-details {
  color: var(--Black, #272a2f);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.about__export-info-title {
  margin-bottom: 0.62rem;
}

.about__photo-image:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 13.69rem;
  top: 18.75rem;
}

.about__sub-photo {
  position: absolute;
  top: -7rem;
  right: 0;
}

/* features section*/
.features {
  background: #fafafc;
}
.features__container {
  padding: 6.25rem 0 0 0;
}

.features__title {
  color: var(--Black, #272a2f);
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.features__description {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 1.25rem;
}

.features__items {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.features__item {
  display: flex;
  height: auto;
  min-width: 21.4375rem;
  max-width: 25.3125rem;
  min-height: 15rem;
  max-height: 15rem;
  padding: 2rem;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1.9rem;
  align-items: flex-start;
  flex: 1 0 0;
  background-color: #fafafc;
  position: relative;
  z-index: 3;
}

.features__item::before {
  content: "";
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #fafafc;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* opacity: 0; */
}

.features__item::after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(to bottom right, #ffa46c, #0994cf);
  opacity: 0;
  left: 50%;
  top: 50%;
  transition: opacity 0.5s ease;
  z-index: -2;
  transform: translate(-50%, -50%);
}

.features__item:hover::after {
  opacity: 1;
}
.features__item:hover::before {
  opacity: 1;
}

.features__item:nth-child(3) {
  gap: 1rem;
}

.features__item-text {
  color: #272a2f;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}

.features__item-link {
  color: #9a430e;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  text-decoration-line: underline;
}

.features__sub-photo {
  position: relative;
}

.features__sub-photo-image {
  width: 100%;
  position: relative;
  bottom: 0;
  background-size: cover;
  background-position: top;
}

.features__sub-photo-1144-leaf {
  display: none;
  position: absolute;
  top: -5rem;
  left: 0;
}

.back__cover {
  position: absolute;
  width: 100%;
  height: 5rem;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

.features__sub-photo-leaf {
  position: absolute;
  top: -5rem;
  left: 0;
}

/* Sunflower section */
.sunflower {
  margin: 0rem 0 6.6rem 0;
}

.sunflower__title {
  color: #272a2f;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.sunflower__descr {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 1.25rem;
}

.sunflower__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 5rem;
}

.sunflower__item {
  display: flex;
  width: 25.3125rem;
  min-width: 25.3125rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;
  text-align: center;
}

.sunflower__item-content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.sunflower__item-title {
  color: #272a2f;
  font-size: 1.5rem;
  font-weight: 700;
}

.sunflower__item-descr {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

/* quality */
.quality {
  padding-top: 13rem;
  background: url("https://ik.imagekit.io/testcloud/SultanSeeds/photo/quality.webp?updatedAt=1725041165532");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 34rem;
}

.quality__container {
  position: relative;
}

.quality__title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.quality__descr {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

/* working */
.working {
  margin-top: 6.75rem;
  margin-bottom: 6.25rem;
  position: relative;
}

.working__description {
  margin-bottom: 3.75rem;
}

.working__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25.3rem, 1fr));
  gap: 2rem;
}

.working__title {
  color: #272a2f;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.working__description {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 3.75rem;
}

.working__item-title {
  color: #272a2f;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.working__item-description {
  color: #2f3641;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.working__item-photo-icon {
  margin-bottom: 1.5rem;
}

.working__sub-photo {
  position: absolute;
  top: -15rem;
  right: -12px;
}

.working__image--top-right-1144 {
  display: none;
  position: absolute;
  top: -15rem;
  right: -12px;
}

.working__image--top-right-380 {
  display: none;
  position: absolute;
}

/* order */
.order {
  background: #fafafc;
  padding: 6.25rem 0 2rem 0;
  position: relative;
}

.order__sub-photo {
  position: absolute;
  top: -9rem;
  left: 0;
}

.order__sub-photo-leaf-1144 {
  position: absolute;
  top: 3rem;
  display: none;
}

.order__title {
  color: #272a2f;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.order__description {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 5rem;
}

.order__form-element {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2.2rem;
}

.order__form-control {
  width: 100%;
}

.order__input,
.order__label,
.order__select {
  width: 100%;
}

.order__label {
  color: #272a2f;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.order__button {
  padding: 1rem 1.5rem;
}

.order__input,
.order__select-display,
.order__select {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f1f2f4;
  background: #fff;
  outline: none;
  /* text */
  color: #6b7278;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Basic styling for the form */
.select-menu {
  width: 100%;
  position: relative; /* Ensuring the position of options is relative to this container */
}

.select-menu__button {
  display: flex;
  height: 55px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid #f1f2f4;
  color: #6b7278;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.select-menu__arrow {
  /* font-size: 25px; */
  transition: 0.3s;
  width: 1.25rem;
  height: 1.25rem;
}

.select-menu__options {
  display: none;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.select-menu__option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.select-menu__option:hover {
  background: #f2f2f2;
}

.select-menu__option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu__option-text {
  font-size: 18px;
  color: #333;
}

.select-menu--active .select-menu__arrow {
  transform: rotate(-180deg);
}

.select-menu--active .select-menu__options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.order__form-control:nth-child(5) {
  text-align: center;
}

/* newsletter */
.newsletter {
  background-color: #fafafc;
  background-image: url("https://ik.imagekit.io/testcloud/SultanSeeds/photo/newsletter.webp?updatedAt=1725041165527");
  background-size: cover;
  /* background-position: ; */
  padding-top: 11.6rem;
  height: 34.25rem;
}

.newsletter__title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.newsletter__description {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.newsletter__form {
  margin-top: 2.69rem;
}

.newsletter__form-control:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.newsletter__form-control:first-child input {
  width: 100%;
  max-width: 27.8125rem;
  height: 3.125rem;
  padding: 0.75rem 1rem;
}

.newsletter__form-control:first-child input::placeholder {
  color: #fff;
}

.newsletter__input {
  border-radius: 0.5rem;
  border: 1px solid #78714c;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  width: 100%;
  max-width: 27.8125rem;
  height: 3.125rem;
  padding: 0.75rem 1rem;
  outline: none;
  /* text */
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.newsletter__button {
  width: 100%;
  max-width: 8.75rem;
  padding: 1rem 1.5rem;
}

.newsletter__terms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.62rem;
  margin-top: 0.69rem;
}

.newsletter__terms-boox {
  width: 100%;
  max-width: 37.6rem;
  display: flex;
  align-items: center;
  gap: 0.62rem;
}

.newsletter__terms-label {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

/* footer */
.footer {
  min-height: 30.9375rem;
  background: #272a2f;
  background-image: url(../photo/texture.png);
  padding-top: 5rem;
}

.footer_top {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 4.19rem;
  gap: 9.5rem;
}

.footer__logo {
  margin-bottom: 0.6rem;
}

.footer__description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 25rem;
  width: 100%;
  margin-bottom: 2.38rem;
}

.footer__top-item-social ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.25rem;
}

.footer__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 3.5rem;
}

.footer__menu-link,
.footer__contact-link a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer__menu-item:not(:last-child),
.footer__contact-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__contact-link {
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.62rem;
  border-bottom: 1px solid #2e3540;
}

/* footer bottom */
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__bottom p,
.footer__bottom a {
  color: #636c79;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.footer__top-items {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 22.5rem;
}

/* media */
/* 1400px  */
@media screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 4rem);
  }
  /* about */
  .about__container {
    padding: 4.76rem 0 7.98rem 0;
    align-items: start;
    gap: 6.26rem;
  }

  .about__photo {
    top: 0;
  }

  .about__title {
    font-size: 2rem;
  }

  .about__photo-image:nth-child(1) {
    width: 22.48988rem;
    height: 22.48988rem;
    flex-shrink: 0;
  }

  .about__photo-image:nth-child(2) {
    width: 17.68625rem;
    height: 11.92181rem;
    left: 9.56rem;
    top: 13.1rem;
  }

  .about__photo-image--top-right {
    display: none;
  }

  .about__description,
  .about__export-info-title {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 1rem 0;
  }

  .about__export-info-title {
    margin: 0;
  }

  .about__export-info-details {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  .about__export-info-item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
/* 1200 */
@media screen and (max-width: 1200px) {
  /* core medai */
  .title {
    font-size: 2.25rem;
    font-weight: 700;
  }
  /* intro */
  .intro {
    height: 37.75rem;
    padding-top: 5.99rem;
  }

  .swiper-container {
    width: 100%;
    /* height: 22rem; */
  }

  .swiper-slide {
    padding: 2.69rem 0 2.69rem 7rem;
  }
  .swiper-title {
    font-size: 3rem;
    font-weight: 700;
    max-width: 51rem;
  }

  .swiper-pagination {
    top: 3.2rem !important;
    left: 0.3rem !important;
  }

  .swiper-fraction {
    bottom: 8.2rem;
  }

  .swiper-description {
    font-size: 1rem;
  }

  /* intro */

  .intro {
    background-image: url("https://ik.imagekit.io/testcloud/SultanSeeds/photo/intro-1144.png?updatedAt=1725085293558");
  }

  /* features media */
  .features {
    min-height: 33.75rem;
  }
  .features__container {
    padding-top: 3.75rem;
  }

  .features__description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .features__items {
    margin-top: 3rem;
  }

  .features__item,
  .features__item:nth-child(3) {
    gap: 0;
  }

  .features__item:nth-child(3) .features__item-text {
    margin-top: 1rem;
  }

  .features__item:nth-child(3) {
    padding: 1.2rem 1.1rem;
  }

  .features__sub-photo-leaf {
    display: none;
  }

  .features__sub-photo-1144-leaf {
    display: inline-block;
    top: 3rem;
  }

  .back__cover {
    height: 3rem;
  }

  /* sunflower media */
  .sunflower {
    margin-bottom: 8rem;
  }

  .sunflower__container {
    padding-top: 5rem;
  }

  .sunflower__descr {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .sunflower__items {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }

  .sunflower__item {
    width: 100%;
    flex-direction: row;
    justify-content: start;
    gap: 1.5rem;
  }

  .sunflower__item-content {
    align-items: start;
    text-align: start;
    gap: 2rem;
    width: 100%;
    max-width: 44.5rem;
  }

  .sunflower__item-descr {
    text-align: start;
  }

  /* quality media */
  .quality {
    min-height: 20.41106rem;
    padding-top: 6rem;
  }
  /* working media */
  .working {
    margin-top: 5.75em;
  }
  .working__image--top-right-1144 {
    display: inline-block;
    top: 3rem;
    right: 12px;
  }

  .working__image--top-right {
    display: none;
  }

  .working__description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
  }

  .working__items {
    column-gap: 1rem;
    row-gap: 3.5rem;
  }

  /* order media */
  .order {
    padding-top: 7.25rem;
  }
  .order__sub-photo-leaf {
    display: none;
  }

  .order__sub-photo-leaf-1144 {
    display: inline-block;
  }

  .order__description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 5.2rem;
  }

  .order__form-element {
    max-width: 42.5rem;
  }

  .order__input,
  .order__select-display,
  .order__select,
  .select-menu__button {
    margin-top: 0.3rem;
  }

  /* newsletter media*/
  .newsletter {
    height: 29.27863rem;
    padding-top: 8.6rem;
    background-image: url("https://ik.imagekit.io/testcloud/SultanSeeds/photo/union-1144.webp?updatedAt=1725041168949");
  }

  /* footer media */
  .footer {
    padding-top: 6rem;
    height: 30.9375rem;
  }

  .footer__top {
    gap: 7.44rem;
  }

  .footer__top-items {
    gap: 4.25rem;
  }

  .footer__top-item--menu {
    width: 100%;
    min-width: 15.4375rem;
  }

  .footer__top-item--contact {
    width: 100%;
    min-width: 18.75rem;
  }

  .footer__description {
    margin-bottom: 1.38rem;
  }
}
/* 1024 */
@media screen and (max-width: 1024px) {
  /* status liner */
  .status-liner {
    display: inline-block;
  }
  /* header */
  .header__contact-info {
    display: none;
  }

  .header__mobile {
    display: inline-block;
  }

  .header__nav,
  .header__language-switcher {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  .active {
    position: relative;
  }

  .active .header__nav {
    display: inline-block;
  }
  .active .header__language-switcher {
    display: none;
  }

  .active .header__nav {
    width: 100%;
    height: 100vh;
    background-color: #1c232c;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
  }

  .active .header__nav-list {
    flex-direction: column;
  }

  .active .header__nav-link {
    color: #fff;
  }
  /* hamburger icon */
  .header__mobile-icon {
    display: flex;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #f7f7f8;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 100;
  }

  .hamburger {
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .hamburger__line {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.3s ease;
    border-radius: 10px;
  }

  .hamburger .hamburger__line:nth-child(2) {
    width: 70%;
  }

  .hamburger.active .hamburger__line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .hamburger__line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .hamburger__line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  /* swiper */
  .swiper-progress-bar {
    top: unset;
  }

  .swiper-pagination {
    left: 3.3rem !important;
  }

  /* footer */
  .footer {
    min-height: unset;
    height: auto;
  }

  .footer_top,
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer__bottom {
    text-align: center;
    padding-bottom: 0.7rem;
  }

  .footer__bottom p:nth-child(2) {
    margin-top: 1rem;
  }

  .footer__top-item,
  .footer__contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer__contact-item {
    width: 100%;
    text-align: center;
  }

  .footer__contact-link {
    justify-content: center;
  }
}
/* 972 */
@media screen and (max-width: 972px) {
  /* intro */
  .swiper-title {
    font-size: 2rem;
  }
  /* about */
  .about__container {
    flex-direction: column-reverse;
    width: 100%;
    padding-top: 2.5rem;
    gap: 1.44rem;
  }

  .about__title {
    font-size: 1.5rem;
  }

  .about__photo-image:nth-child(1) {
    width: 16.86744rem;
    height: 16.86744rem;
  }

  .about__photo-image:nth-child(2) {
    width: 13.26469rem;
    height: 8.94138rem;
    top: 9.83rem;
    left: 7.17rem;
  }

  /* features */
  .features {
    padding: 3.75rem 0;
    padding-top: 0;
  }
  .features__items {
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .features__title {
    font-size: 1.5rem;
  }

  .features__description {
    margin-top: 1rem;
  }

  .features__item {
    gap: 1rem;
  }

  .back__cover,
  .features__sub-photo-image {
    display: none;
  }
}
/* 805 */
@media screen and (max-width: 768px) {
  /* custom */
  .container {
    max-width: calc(100% - 3rem);
  }

  .title {
    font-size: 1.5rem;
  }
  /* header */
  .intro {
    height: 32.4rem;
    background-image: url("https://ik.imagekit.io/testcloud/SultanSeeds/photo/380-intro.png?updatedAt=1725041162137");
    padding-top: 4.93rem;
    padding-bottom: 0;
  }
  .header__logo img {
    width: 9.49075rem;
    height: 2.08138rem;
  }

  /* intro */
  .swiper-fraction {
    display: none;
  }

  .swiper-slide {
    padding: 0;
  }

  .swiper-slide {
    text-align: center;
    align-items: center;
  }

  .swiper-description {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
  }
  .swiper-pagination {
    bottom: 10rem !important;
    top: 67.5% !important;
    left: 50% !important;
    padding: 0;
  }

  .swiper-pagination-bullet:not(:last-child) {
    margin-right: 1.56rem !important;
  }

  /* features */
  .features__sub-photo-1144-leaf {
    top: -65rem;
  }
  /* sunflower */
  .sunflower__container {
    padding-top: 3.75rem;
  }

  .sunflower__item {
    flex-direction: column;
  }

  .sunflower__item-content {
    justify-content: center;
    align-items: center;
  }

  .sunflower__item-descr {
    text-align: center;
  }

  .sunflower__item {
    min-width: unset;
  }

  /* quality */
  .quality {
    height: 16.3rem;
    padding-top: 1.97rem;
  }

  /* working */
  .working__image--top-right-1144 {
    display: none;
  }
  .working__image--top-right-380 {
    display: inline-block;
    top: -13rem;
    right: 12px;
  }

  /* order */
  .order__sub-photo-leaf-1144 {
    display: none;
  }
}

/* 540 */
@media screen and (max-width: 540px) {
  /* working */
  .working__items {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  /* order */
  .order {
    padding-top: 3.75rem;
  }

  .order__description {
    margin-bottom: 2rem;
  }

  .order__form-element {
    gap: 2rem;
  }

  /* newsletter */
  .newsletter {
    height: auto;
    padding-top: 5.2rem;
    padding-bottom: 4.9rem;
  }

  .newsletter__form-control:first-child {
    flex-direction: column;
  }

  /* footer */
  .footer {
    min-height: unset;
    height: auto;
  }

  .footer_top,
  .footer__top-items,
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer__top-item,
  .footer__contact-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .footer__contact-item {
    width: 100%;
    text-align: center;
  }

  .footer__contact-link {
    justify-content: center;
  }

  .footer__logo img {
    width: 14.73213rem;
    height: 3.22763rem;
  }

  /* footer */
  .footer {
    padding-top: 5.19rem;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__description {
    margin: 2rem 0;
  }

  .footer_top {
    gap: 3rem;
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }
}

/* 380 */
@media screen and (max-width: 380px) {
  /* intro */
  .swiper-title {
    font-size: 1.5rem;
  }
}
