/* Poppins and Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* custom style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 80.625rem;
  margin: 0 auto;
}

.button {
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background: #9a430e;
  /* text */
  color: #fff;
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}

/* root */
:root {
  --Dark-Green: #2f4135;
  --Light-Green: #4caf50;
  --Light-Grey: #f2f2f2;
  --Dark-Grey: #333333;
  --black-white: #fff;
  --Black: #272a2f;
  --gray: #e0e3e6;
  --gray-2: #1c232c;
}
/* root */

/* header */

/* header__contact-info */

.header__contact-info {
  height: 3.75rem;
  padding: 0.625rem 20rem;
  background: var(--Dark-Green, #2f4135);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__contact-info .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact-social,
.header__contact-details,
.header__contact-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.header__phone,
.header__email,
.header__contact-social p {
  color: var(--black-white, #fff);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header__separator {
  width: 3.5625rem;
  height: 0.125rem;
  background: var(--black-white, #fff);
}

.header__email a,
.header__phone a {
  color: var(--black-white, #fff);
  font-weight: 600;
}
/* header__contact-info */

/* header__bottom */

.header__bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.header__nav .header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header__nav-link {
  color: var(--Black, #272a2f);
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
}

/* language switcher */
.header__language-switcher {
  border-radius: 3.125rem;
  border: 1px solid #e0e3e6;
  background: var(--black-whit, #fff);
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.6875rem;
  cursor: pointer;
  position: relative;
  width: 8.5rem;
}

.header__language-button {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--gray-2 #1c232c);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.header__language-box {
  display: flex;
  align-items: center;
  gap: 0.31rem;
}

.header__language-flag {
  margin-right: 0.2rem;
}

.header__language-options {
  display: none;
  position: absolute;
  top: calc(100% + 15px);
  border-radius: 3.125rem;
  border: 1px solid #e0e3e6;
  background: var(--black-whit, #fff);
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 10;
}

.header__language-option::after {
  position: absolute;
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  background-color: var(--black-whit, #fff);
  border-top: 1px solid #e0e3e6;
  border-left: 1px solid #e0e3e6;
  top: -0.15rem;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
}

.header__language-option {
  background-color: transparent;
  border: none;
  width: 100%;
  color: var(--gray-2 #1c232c);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.header__language-switcher.active .header__arrow-icon {
  transform: rotate(180deg);
}

.header__arrow-icon {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

.header__language-switcher.active .header__language-options {
  display: block;
}

.header__language-option.selected {
  background-color: #f0f0f0;
}

/* intro section */
.intro {
  width: 100%;
  height: 52.1875rem;
  background: url("../photo/Video\ header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top bottom center;
}
/* swiper intro */
.swiper {
  padding-top: 5rem;
  width: 80rem;
  height: 48rem;
  padding-left: 5.12rem;
}

.swiper-pagination {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-pagination-fraction {
  color: var(--White, #fff);
  font-family: Gilroy;
  font-size: 1rem;
  font-weight: 500;
  background-color: #4caf50;
  width: 11.8rem;
}
/* swiper */

/* about */
.about {
  background: url(../photo/sunflower\ texture.png);
  position: relative;
}
.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 8.8rem 0 12.5rem 0;
}

.about__photo {
  position: relative;
  top: -19px;
}

.about__content {
  max-width: 39.62rem;
}

.about__title {
  color: var(--Black, #272a2f);
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.about__description,
.about__export-info-title {
  color: var(--Black, #272a2f);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.about__description {
  margin: 2rem 0;
  width: 100%;
  max-width: 39.6rem;
}

.about__export-info-item:not(:last-child) {
  margin-bottom: 2rem;
}

.about__export-info-details {
  color: var(--Black, #272a2f);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.about__export-info-title {
  margin-bottom: 0.62rem;
}

.about__photo-image:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 13.69rem;
  top: 18.75rem;
}

.about__sub-photo {
  position: absolute;
  top: -7rem;
  right: 0;
}

/* features section*/
.features {
  background: #fafafc;
}
.features__container {
  padding: 6.25rem 0 0 0;
}

.features__title {
  color: var(--Black, #272a2f);
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.features__description {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 1.25rem;
}

.features__items {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.features__item {
  display: flex;
  height: 15rem;
  min-width: 21.4375rem;
  max-width: 25.3125rem;
  min-height: 15rem;
  max-height: 15rem;
  padding: 2rem;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 1.9rem;
  align-items: flex-start;
  flex: 1 0 0;
}

.features__item:nth-child(3) {
  gap: 1rem;
}

.features__item-text {
  color: #272a2f;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}

.features__item-link {
  color: #9a430e;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  text-decoration-line: underline;
}

.features__sub-photo {
  position: relative;
}

.features__sub-photo-image {
  width: 100%;
  position: relative;
  bottom: 0;
  background-size: cover;
  background-position: top;
}

.back__cover {
  position: absolute;
  width: 100%;
  height: 5rem;
  left: 0;
  bottom: 0;
  background-color: #fff;
}

.features__sub-photo-leaf {
  position: absolute;
  top: -5rem;
  left: 0;
}

/* Sunflower section */
.sunflower {
  margin: 0rem 0 6.6rem 0;
}

.sunflower__title {
  color: #272a2f;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}

.sunflower__descr {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 1.25rem;
}

.sunflower__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 5rem;
}

.sunflower__item {
  display: flex;
  width: 25.3125rem;
  min-width: 25.3125rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;
  text-align: center;
}

.sunflower__item-title {
  color: #272a2f;
  font-size: 1.5rem;
  font-weight: 700;
}

.sunflower__item-descr {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

/* quality */
.quality {
  padding-top: 13rem;
  background: url(../photo/quality.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 34rem;
}

.quality__container {
  position: relative;
}

.quality__title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.quality__descr {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

/* working */
.working {
  margin-top: 6.75rem;
  margin-bottom: 6.25rem;
  position: relative;
}

.working__description {
  margin-bottom: 3.75rem;
}

.working__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25.3rem, 1fr));
  gap: 2rem;
}

.working__title {
  color: #272a2f;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.working__description {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 3.75rem;
}

.working__item-title {
  color: #272a2f;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.working__item-description {
  color: #2f3641;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.working__item-photo-icon {
  margin-bottom: 1.5rem;
}

.working__sub-photo {
  position: absolute;
  top: -15rem;
  right: -12px;
}

/* order */
.order {
  background: #fafafc;
  padding: 6.25rem 0 2rem 0;
  position: relative;
}

.order__sub-photo {
  position: absolute;
  top: -9rem;
  left: 0;
}

.order__title {
  color: #272a2f;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.order__description {
  color: #2f3641;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 5rem;
}

.order__form-element {
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2.2rem;
}

.order__form-control {
  width: 100%;
}

.order__input,
.order__label,
.order__select {
  width: 100%;
}

.order__label {
  color: #272a2f;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.order__button {
  width: 100%;
  max-width: 8.75rem;
  padding: 1rem 1.5rem;
}

.order__input,
.order__select-display,
.order__select {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f1f2f4;
  background: #fff;
  outline: none;
  /* text */
  color: #6b7278;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Basic styling for the form */
.select-menu {
  width: 100%;
  position: relative; /* Ensuring the position of options is relative to this container */
}

.select-menu__button {
  display: flex;
  height: 55px;
  background: #fff;
  padding: 20px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid #f1f2f4;
  color: #6b7278;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.select-menu__arrow {
  /* font-size: 25px; */
  transition: 0.3s;
}

.select-menu__options {
  display: none;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  max-height: 295px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
}

.select-menu__option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.select-menu__option:hover {
  background: #f2f2f2;
}

.select-menu__option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu__option-text {
  font-size: 18px;
  color: #333;
}

.select-menu--active .select-menu__arrow {
  transform: rotate(-180deg);
}

.select-menu--active .select-menu__options {
  display: block;
  opacity: 0;
  z-index: 10;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

.order__form-control:nth-child(5) {
  text-align: center;
}

/* newsletter */
.newsletter {
  background-color: #fafafc;
  background-image: url(../photo/newsletter.png);
  background-size: cover;
  background-position: ;
  padding-top: 11.6rem;
  height: 34.25rem;
}

.newsletter__title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.newsletter__description {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.newsletter__form {
  margin-top: 2.69rem;
}

.newsletter__form-control:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.newsletter__form-control:first-child input {
  width: 100%;
  max-width: 27.8125rem;
  height: 3.125rem;
  padding: 0.75rem 1rem;
}

.newsletter__input {
  border-radius: 0.5rem;
  border: 1px solid #78714c;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  width: 100%;
  max-width: 27.8125rem;
  height: 3.125rem;
  padding: 0.75rem 1rem;
  outline: none;
  /* text */
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.newsletter__button {
  width: 100%;
  max-width: 8.75rem;
  padding: 1rem 1.5rem;
}

.newsletter__terms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.62rem;
  margin-top: 0.69rem;
}

.newsletter__terms-boox {
  width: 100%;
  max-width: 37.6rem;
}

.newsletter__terms-label {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

/* footer */
.footer {
  min-height: 30.9375rem;
  background: #272a2f;
  background-image: url(../photo/texture.png);
  padding-top: 5rem;
}

.footer_top {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 4.19rem;
  gap: 9.5rem;
}

.footer__logo {
  margin-bottom:0.6rem;
}

.footer__description {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 25rem;
  width: 100%;
  margin-bottom: 2.38rem;
}

.footer__top-item-social ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.25rem;
}

.footer__title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 3.5rem;
}

.footer__menu-link,
.footer__contact-link a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.footer__menu-item:not(:last-child),
.footer__contact-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__contact-link {
  padding-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* footer bottom */
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__bottom p,
.footer__bottom a {
  color: #636c79;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.footer__top-items {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 22.5rem;
}